*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  line-height: 1.67;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p {
  margin: 0;
}

/* wrapper  */
.wrapper {
  overflow: hidden;
}

/* constainer */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
  min-height: 670px;

  background: url("../images/intro/intro.jpg") center no-repeat;
  background-size: cover;

  padding-top: 90px;
}

.intro__inner {
  width: 100%;
  max-width: 880px;

  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.intro__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;

  line-height: 1;
  text-transform: uppercase;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 65px auto;
  background-color: #fff;
}

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 20px;
}

.header--fixed {
  /* чтобы шапка при скроле появлялась */
  background-color: #e98283;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 0;
  /* чтобы хедер не дергался при скролле */
  transform: translate3d(0, 0, 0);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 1;

  cursor: pointer;
}

.header__nav {
  width: 45%;
}

.header__menu {
  display: none;
}

/* burger-menu */
.burger-menu {
  width: 30px;

  position: relative;
}

.burger-menu__item {
  height: 3px;
  width: 100%;

  background-color: #fff;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: all 0.5s linear;
}

.burger-menu__item:before {
  content: "";
  height: 3px;
  width: 100%;

  background-color: #fff;

  display: block;
  position: absolute;
  top: 10px;
  right: 0;

  transition: all 0.3s linear;
}

.burger-menu__item:after {
  content: "";
  height: 3px;
  width: 100%;

  background-color: #fff;

  display: block;
  position: absolute;
  top: -10px;
  left: 0;

  transition: all 0.3s linear;
}

.burger-menu__item.active {
  background-color: transparent;
  transition: all 0.15s linear;
}

.burger-menu__item.active.burger-menu__item:after {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu__item.active.burger-menu__item:before {
  top: 0;
  transform: rotate(-45deg);
}

/* nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  position: relative;

  transition: color 0.2s linear;
}

.nav__link.active {
  color: #fce38a;
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  left: 0;
  bottom: -5px;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link.active:after,
.nav__link:hover:after {
  opacity: 1;
}

/* btn */
.btn {
  display: inline-block;
  vertical-align: center;
  color: #fff;
  border: 3px solid #fff;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border: 3px solid #fce38a;
}

/* section */
.section {
  padding: 80px 0;
}

.section--reviews,
.section--logos {
  background-color: #f8f8f8;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  position: relative;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto 30px;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/* card */
.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card__item {
  width: 30%;
}

.card__inner {
  position: relative;
  background-color: #95e1d3;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: all 0.15s linear;
}

.card__inner:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__pic {
  transition: all 0.15s linear;
}

.card__inner:hover .card__pic {
  opacity: 0.3;
}

.card__text {
  width: 100%;

  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transform: translate3d(0, -50%, 0);

  transition: all 0.15s linear;
  
}

.card__info {
  margin-top: 15px;
  text-align: center;
}

.card__name {
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

.card__prof {
  font-size: 14px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

/* statistics */
.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 50px 0;

  border-left: 1px solid #b5eae0;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  font-size: 72px;
  font-weight: 700;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* services */
.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  max-width: 33%;
  flex: 1 1 30%;
  padding-left: 70px;
  position: relative;
  margin-bottom: 35px;
}

.services__img {
  position: absolute;
  top: 3px;
  left: 18px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;
  font-size: 15px;
  color: #999;
  text-transform: uppercase;
}

/* devices */
.section--devices {
  background-image: url("../images/devices/devices-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.devices {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__iphone {
  position: absolute;
  right: 0;
  bottom: -80px;
}

/* what we do */
.wedo {
  display: flex;
  justify-content: space-between;
}

.wedo__item {
  width: 49%;
  display: flex;
}

.wedo__img {
  object-fit: cover;
}

/* accordion */
.accordion__item {
  border: 1px solid #e5e5e5;
  border-bottom: none;
  margin-bottom: 10px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__item--active .accordion__content {
  display: block;
}

.accordion__item--active .accordion__header:after {
  transform: translateY(-15%) rotate(-45deg);
}

.accordion__header {
  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
}

.accordion__header:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;

  width: 18px;
  height: 18px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  transform: translateY(-65%) rotate(135deg);
}

.accordion__icon {
  padding: 15px;
}

.accordion__content {
  display: none;
  max-height: 170px;

  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #999;
  overflow-y: scroll;

  padding: 20px 15px;
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* reviews */
.reviews {
  position: relative;

  padding: 0 210px;
}

.reviews__item {
  position: relative;

  padding-left: 255px;
}

.reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  max-width: 165px;

  border: 2px solid #95e1d3;
  border-radius: 50%;
}

.reviews__text {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999;
  line-height: 1.27;
}

.reviews__author {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  color: #333;

  margin-top: 10px;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 60px;

  vertical-align: middle;
  background-color: #f38181;

  margin-right: 15px;
}

.reviews__btn {
  position: absolute;
  top: 50%;
  z-index: 1;

  color: transparent;
  transform: translateY(-50%);
}

.reviews__btn:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;

  width: 18px;
  height: 18px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.reviews__btn--next {
  right: 0;

  transform: translateY(-50%) rotate(45deg);
}

.reviews__btn--prev {
  left: 0;

  transform: translateY(-50%) rotate(-135deg);
}

/* social */
.social {
  display: flex;
  justify-content: center;
  transition: all 0.2s linear;
}

.social__item {
  flex-basis: 40px;
  background-color: #fce38a;

  font-size: 25px;
  color: #f38181;
  text-decoration: none;
  transition: all 0.3s linear;

  border-right: 1px solid #f38181;
}

.social__item:last-child {
  border-right: none;
}

.social__item:hover {
  background-color: #f38181;
  color: #fce38a;
}

/* logos */
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* works */
.works {
  display: flex;
}

.works__col {
  display: flex;
  flex-direction: column;

  max-height: 580px;
}

.works__item {
  position: relative;
  display: flex;
  flex-grow: 1;
  /* регулируем максимальую высоту */
  max-height: 50%;

  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: all 0.15s linear;
}

.works__item--big {
  /* регулируем максимальую высоту для единой каринки */
  max-height: 100%;
}

.works__item:hover .works__img {
  opacity: 0.1;
}

.works__photo {
  display: flex;
}

.works__img {
  object-fit: cover;
  transition: opacity 0.2s linear;
}

.works__info {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;

  opacity: 0;
  text-align: center;
  color: #fff;

  transform: translate3d(0, -50%, 0);
  transition: opacity 0.3s linear;

  padding: 0 10px;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__title {
  font-size: 14px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.works__text {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

/* happy clients  */
.section--clients {
  background: url("../images/clients/clients-bg.jpg") center center no-repeat;
  background-size: cover;

  margin-top: 80px;
}

.clients {
  display: flex;
  flex-flow: row wrap;

  margin-top: 70px;
}

.clients__item {
  display: flex;
  justify-content: space-between;
  width: 50%;

  margin-bottom: 50px;
  padding: 0 45px;
}

.clients__photo {
  width: 25%;
}

.clients__img {
  border-radius: 50%;
}

.clients__content {
  display: flex;
  flex-direction: column;
  width: 74%;

  color: #333;
}

.clients__name {
  font-size: 14px;
  text-transform: uppercase;

  margin-bottom: 6px;
}

.clients__prof {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

.clients__text {
  font-size: 15px;
  color: #999;
}

.clients__text:before {
  content: "";
  display: block;

  width: 60px;
  height: 3px;
  background-color: #f38181;

  margin: 10px 0;
}

/* blog */
.blog {
  display: flex;
  justify-content: space-between;
}

.blog__item {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.blog__header {
  position: relative;
}

.blog__link {
  display: flex;
  height: 228px;
}

.blog__photo {
  width: 100%;
  object-fit: cover;
}

.blog__date {
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 3;

  background-color: #95e1d3;
  font-size: 15px;
  font-style: italic;
  color: #fff;
  text-align: center;

  padding: 5px 16px;
}

.blog__date-day {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}

.blog__content {
  padding: 14px 0;
}

.blog__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.blog__title-link {
  color: inherit;
  text-decoration: none;
}

.blog__title-link:hover {
  text-decoration: underline;
}

.blog__text {
  font-size: 15px;
  color: #999;
}

.blog__footer {
  line-height: 1;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999;

  border-top: 1px solid #e5e5e5;
  padding-top: 14px;
}

.blog-stat__item {
  display: inline-flex;
  align-items: center;

  margin-right: 15px;
}

.blog-stat__icon {
  color: #95e1d3;
  margin-right: 5px;
}

/* map */
.section--map {
  background: url("../images/map/mapbg.jpg") center center no-repeat;
  background-size: cover;

  padding: 50px 0;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 24px;
  font-weight: 700;
  color: #f38181;
  text-transform: uppercase;
}

.map__icon {
  margin-bottom: 15px;
}

.map__link {
  color: inherit;
  text-decoration: none;
}

.map__link:hover {
  text-decoration: underline;
}

.map__link:after {
  content: "";
  display: block;

  height: 3px;
  width: 60px;
  background-color: #f38181;

  margin: 0 auto;
  margin-top: 15px;
}

/* footer */
.footer {
  background-color: #f8f8f8;

  padding-top: 80px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;

  padding-bottom: 65px;
}

.footer__col--subs {
  width: 40%;
}

.footer__col--blogs {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.footer__col--inst {
  display: flex;
  flex-direction: column;

  width: 21%;
}

.footer__logo {
  font-size: 46px;
  font-weight: 700;
  color: #ccc;

  margin-bottom: 25px;
}

.footer__text {
  font-size: 15px;
  color: #999;

  margin-bottom: 25px;
}

.footer__socials-header {
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;

  margin-bottom: 15px;
  padding-bottom: 15px;
}

.footer__socials-header b {
  font-size: 18px;
}

.footer__socials-content {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 320px;
  margin-bottom: 25px;

  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

.footer__socials-link {
  font-size: 18px;
  color: #95e1d3;
  text-decoration: none;

  transition: all 0.3s linear;
}

.footer__socials-link:hover {
  font-size: 18px;
  color: #f38181;
}

.footer__subscribe {
  max-width: 380px;
}

.footer__title {
  margin-top: 25px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* subscribe  */
.subscribe {
  width: 100%;
  display: flex;
}

.subscribe__input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #333;
  background: #fff;

  height: 40px;
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
}

.subscribe__input::placeholder {
  color: #ccc;
}

.subscribe__btn {
  height: 40px;
  width: 40%;
  padding: 10px 30px;

  background-color: #95e1d3;
  border: none;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  transition: all 0.3s linear;
}

.subscribe__btn:hover {
  background-color: #f38181;
}

/* blogs */
.blogs {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 25px;
}

.blogs__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blogs__photo {
  display: flex;

  width: 34%;
  max-height: 80px;
}

.blogs__pic {
  object-fit: cover;
}

.blogs__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

.blogs__text {
  display: block;
  width: 100%;

  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  color: #333333;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}

.blogs__date {
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
}

/* instagram */
.instagram {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  padding-top: 25px;
}

.instagram__item {
  display: flex;
  width: 33.333%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.instagram__pic {
  display: flex;
  flex-grow: 1;
}

.instagram__link {
  display: flex;
  align-self: flex-end;

  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #333333;
  text-decoration: none;
}

/* copyright */
.copyright {
  width: 100%;
  border-top: 1px solid #ccc;

  font-size: 14px;
  color: #333;
  text-align: center;

  padding: 20px 0;
}

.copyright__link {
  color: #f38181;
  text-decoration: none;
}

/* @media  max-width: 1200px */
@media (max-width: 1200px) {
  .container {
    width: 96%;
  }

  /* intro  */
  .intro__suptitle {
    font-size: 52px;
  }

  .intro__title {
    font-size: 120px;
  }

  /* reviews  */
  .section--reviews {
    padding: 60px 0;
  }

  .reviews {
    padding: 0 150px;
  }

  .reviews__item {
    padding-left: 200px;
  }

  .reviews__photo {
    max-width: 145px;
  }

  .reviews__text {
    font-size: 20px;
  }

  /* clients  */
  .clients__photo {
    width: 25%;
  }

  .clients__content {
    width: 70%;
  }
}

/* @media  max-width: 992px */
@media (max-width: 992px) {
  /* nav  */
  .header__nav {
    width: 40%;
  }

  /* intro  */
  .intro {
    min-height: 744px;
  }

  .intro__suptitle {
    font-size: 42px;
  }

  /* clients  */
  .clients__item {
    width: 100%;
    margin-bottom: 25px;
  }

  .clients__photo {
    width: 15%;
  }

  .clients__content {
    width: 84%;
  }

  /* blog  */
  .blog {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blog__item {
    width: 48%;
    margin-bottom: 20px;
  }

  .blog__link {
    height: 250px;
  }

  /* footer  */
  .footer__col--blogs {
    width: 30%;
  }

  .footer__col--inst {
    width: 30%;
  }

  .footer__col--subs {
    width: 33%;
  }

  .subscribe__btn {
    padding: 10px 15px;
  }
}

/* @media  max-width: 768px */
@media (max-width: 768px) {
  /* header__menu  */
  .header {
    padding-top: 5px;
  }

  .header--fixed {
    padding-top: 0;
    box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.5);
  }

  .header__menu {
    display: block;
  }

  /* nav  */
  .nav {
    display: block;

    position: absolute;
    top: 98%;
    left: -2220px;

    width: 100%;
    height: auto;

    background-color: #ea9183;

    padding-bottom: 10px;
    border-bottom-left-radius: 10x;
    border-bottom-right-radius: 10px;

    transition: all 0.5s ease;
  }

  .nav.active {
    left: 0;
  }

  .nav__link {
    display: flex;
    font-size: 20px;
    padding: 30px 30px;
  }

  .nav__link:after {
    height: 2px;
    bottom: 0px;
  }

  /* intro  */
  .intro__title {
    font-size: 86px;
  }

  /* section  */
  .section {
    padding: 40px 0;
  }

  .section__title:after {
    margin: 17px auto;
  }

  /* card  */
  .card {
    margin-top: 0;
  }

  .card__inner:hover .card__img {
    transform: translate3d(-5px, -5px, 0);
  }

  .card__inner:hover .card__text {
    transform: translate3d( -5px, -20px, 0);
  }

  /* stat  */
  .stat__item {
    padding: 30px 0;
    justify-content: flex-start;
  }

  .stat__count {
    font-size: 50px;
  }

  .stat__text {
    font-size: 13px;
  }

  /* services */
  .services__item {
    max-width: 50%;
    flex: 1 1 50%;

    margin-bottom: 15px;
    padding-left: 60px;
  }

  .services__title {
    margin-bottom: 5px;
  }

  .services__img {
    left: 14px;
  }

  /* devices  */
  .section--devices {
    padding-bottom: 0;
  }

  .devices {
    max-width: 320px;
  }

  .devices__iphone {
    max-width: 60%;
    bottom: -60px;
  }

  /* reviews  */
  .reviews {
    padding: 0px 50px;
  }

  .reviews__text {
    font-size: 18px;
  }

  .reviews__item {
    padding-left: 165px;
  }

  /* logos  */
  .logos {
    flex-wrap: wrap;
  }

  .logos__item {
    padding: 15px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* works  */
  .works {
    flex-wrap: wrap;
  }

  .works__col {
    width: 50%;
    max-height: 400px;
  }

  /* clients  */
  .section--clients {
    margin-top: 40px;
  }

  .clients__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  .clients__photo {
    width: 100%;
    max-width: 110px;
    margin-bottom: 6px;
  }

  .clients__content {
    width: 100%;
  }

  /* blog  */
  .blog__item {
    width: 43%;
  }

  .blog__link {
    height: 228px;
  }

  /* footer  */
  .footer {
    padding-top: 40px;
  }

  .footer__inner {
    flex-wrap: wrap;
    padding-bottom: 35px;
  }

  .footer__col--blogs {
    width: 48%;
  }

  .footer__col--inst {
    width: 37%;
  }

  .footer__col--subs {
    width: 100%;
  }

  .footer__logo {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .footer__text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .footer__socials-content {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .footer__title {
    margin-top: 15px;
    font-size: 13px;
  }

  /* blogs  */
  .blogs {
    padding-top: 15px;
  }

  /* instagram  */
  .instagram {
    padding-top: 15px;
  }
}

/* mobile landscape iphone X*/

/* max-width: 920px выбрал опытным путем, это дисплеи ультра высокой четкости в альбомной ориентации типа новых андройдов и последних айфонов  */
@media (max-width: 920px) and (orientation: landscape) {
  /* полная переделка первой секции */
  
  .header__menu {
    display: block;
  }

  .nav {
    display: block;

    position: absolute;
    top: 100%;
    left: -2220px;

    width: 100%;
    height: auto;

    background-color: #ea9183;

    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: all 0.5s ease;
  }

  .nav.active {
    left: 0;
  }

  .nav__link {
    display: flex;
    font-size: 13px;
    padding: 10px 15px;
  }

  .nav__link:after {
    bottom: 0px;
    height: 2px;
  }

  /* intro  */
  .intro {
    min-height: 350px;
    padding-top: 40px;
  }

  .intro__suptitle {
    font-size: 36px;
    line-height: 1;

    margin-bottom: 20px;
  }

  .intro__title {
    max-width: 85%;
    font-size: 60px;
    line-height: 1;

    margin: 0 auto;
    margin-bottom: 25px;
  }

  .intro__title:after {
    margin: 30px auto;
  }

  .btn {
    font-size: 13px;
    padding: 4px 22px;
  }
}

/* mobile landscape Iphone 5 - 7 */
/* max-width: 768px выбрал опытным путем, это дисплеи высокой четкости в альбомной ориентации типа старых андройдов и айфонов 5-7 */
@media (max-width: 768px) and (orientation: landscape) {
  .intro {
    min-height: 320px;
  }

  .intro__suptitle {
    font-size: 32px;
  }

  .intro__title {
    max-width: 85%;
    font-size: 55px;
  }

  .intro__title:after {
    display: none;
  }
  
}

/* @media  max-width: 480px */
@media (max-width: 480px) {
  /* container  */
  .container {
    width: 92%;
  }

  /* nav  */
  .nav__link {
    font-size: 15px;
    padding: 15px 20px;
  }

  /* intro  */
  .intro {
    min-height: auto;
  }

  .intro__suptitle {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .intro__title {
    font-size: 50px;
  }

  /* section */
  .section {
    padding: 30px 0;
  }

  .section__suptitle {
    padding-top: 20px;
    font-size: 20px;
  }

  .section__title {
    font-size: 24px;
  }

  .section__header {
    margin-bottom: 30px;
  }

  .section__text {
    font-size: 13px;
  }

  /* card */
  .card {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card__item {
    flex-basis: 50%;
    flex-grow: 1;

    max-width: 100%;
    padding: 5px;
  }

  .card__pic {
    width: 100%;
    height: 145px;
    object-fit: cover;
  }

  .card__text {
    text-align: center;
  }

  /* stat  */
  .stat__item {
    padding: 15px 0;
  }

  .stat__count {
    font-size: 40px;
  }

  .stat__text {
    font-size: 11px;
  }

  /* services */
  .services__item {
    max-width: 100%;
    flex: 1 1 100%;
    padding-left: 60px;
  }

  .services__title {
    font-size: 14px;
  }

  .services__text {
    font-size: 13px;
  }

  /* devices  */
  .section--devices {
    padding-bottom: 0;
  }

  .devices {
    max-width: 300px;
  }

  /* what we do */
  .wedo {
    flex-wrap: wrap;
  }

  .wedo__item {
    width: 100%;
  }

  .wedo__img {
    display: none;
  }

  /* accordion  */
  .accordion__item {
    margin-bottom: 8px;
  }

  .accordion__content,
  .accordion__title {
    font-size: 13px;
  }

  .accordion__icon {
    padding: 10px;
  }

  /* team  */
  .section--team .card {
    justify-content: space-around;
  }

  .section--team .card__item {
    flex-basis: 50%;
    flex-grow: 0;
  }

  .section--team .card__pic {
    height: 230px;
  }

  /* reviews  */
  .reviews {
    padding: 0px 50px;
  }

  .reviews__photo {
    display: none;
  }

  .reviews__item {
    padding-left: 0;
    font-size: 13px;
  }

  .reviews__text {
    font-size: 14px;
  }

  /* works  */
  .works__col {
    max-height: 300px;
  }

  /* clients  */
  .clients {
    margin-top: 0;
  }

  .clients__item {
    width: 100%;
    padding: 0 15px;
  }

  .clients__photo {
    width: 100%;
    max-width: 100px;
    margin-bottom: 6px;
  }

  .clients__content {
    width: 100%;
    font-size: 14px;
  }

  .clients__name {
    font-size: 13px;
  }

  .clients__prof {
    font-size: 14px;
  }

  .clients__text {
    font-size: 13px;
  }

  /* blog  */
  .blog__item {
    width: 100%;
  }

  .blog__link {
    height: 228px;
  }

  .blog__title {
    font-size: 14px;
  }

  .blog__text {
    font-size: 13px;
  }

  /* footer  */
  .footer__col--blogs {
    width: 100%;
  }

  .footer__col--inst {
    width: 100%;
  }

  .footer__col--subs {
    width: 100%;
  }

  /* blogs  */
  .blogs__item {
    margin-bottom: 10px;
  }

  /* instagram  */
  .instagram__item {
    height: 115px;
  }

  /* copyright  */
  .copyright {
    font-size: 13px;

    padding: 15px 0;
  }
}
