*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  line-height: 1.67;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p {
  margin: 0;
}

/* constainer */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../images/intro/intro.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.intro__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;

  line-height: 1;
  text-transform: uppercase;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 50px auto;
  background-color: #fff;
}

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  position: relative;

  transition: color 0.2s linear;
}

.nav__link.active {
  color: #fce38a;
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  left: 0;
  bottom: -5px;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link.active:after,
.nav__link:hover:after {
  opacity: 1;
}

/* btn */
.btn {
  display: inline-block;
  vertical-align: center;
  color: #fff;
  border: 3px solid #fff;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border: 3px solid #fce38a;
}

/* section */
.section {
  padding: 80px 0;
}

.section--reviews, .section--logos {
  background-color: #f8f8f8;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  position: relative;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto 30px;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/* card */
.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card__item {
  width: 30%;
}

.card__inner {
  position: relative;
  background-color: #95e1d3;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: all 0.15s linear;
}

.card__inner:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__pic {
  transition: all 0.15s linear;
}

.card__inner:hover .card__pic {
  opacity: 0.3;
}

.card__text {
  width: 100%;

  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transform: translate3d(0, -50%, 0);

  transition: opacity 0.35s linear;
}

.card__info {
  margin-top: 15px;
  text-align: center;
}

.card__name {
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

.card__prof {
  font-size: 14px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

/* statistics */
.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 50px 0;

  border-left: 1px solid #b5eae0;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  font-size: 72px;
  font-weight: 700;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* services */

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  max-width: 33%;
  flex: 1 1 30%;
  padding-left: 70px;
  position: relative;
  margin-bottom: 35px;
}

.services__img {
  position: absolute;
  top: 3px;
  left: 18px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}

.services__title {
  font-size: 15px;
  color: #999;
}

/* devices */
.section--devices {
  background-image: url("../images/devices/devices-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.devices {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__iphone {
  position: absolute;
  right: 0;
  bottom: -80px;
}

/* what we do */
.wedo {
  display: flex;
  justify-content: space-between;
}

.wedo__item {
  width: 49%;
}

/* accordion */
.accordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__item--active .accordion__content {
  display: block;
}

.accordion__item--active .accordion__header:after {
  transform: translateY(-15%) rotate(-45deg);
}

.accordion__header {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;

  position: relative;
  cursor: pointer;
}

.accordion__header:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  right: 20px;
  top: 50%;

  transform: translateY(-65%) rotate(135deg);
}

.accordion__icon {
  padding: 15px;
}

.accordion__content {
  max-height: 170px;
  padding: 20px 15px;
  display: none;

  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
  overflow-y: scroll;
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* reviews */

.reviews {
  padding: 0 210px;
  position: relative;
}

.reviews__item {
  padding-left: 210px;
  position: relative;
}

.reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #95e1d3;
}

.reviews__text {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999;
  line-height: 1.27;
}

.reviews__author {
  font-family: "Kaushan Script", cursive;
  font-style: 24px;
  color: #333;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 15px;

  background-color: #f38181;
}

.reviews__btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: transparent;
  transform: translateY(-50%);
}

.reviews__btn:after {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  top: 50%;
}

.reviews__btn--next {
  right: 0;

  transform: translateY(-50%) rotate(45deg);
}

.reviews__btn--prev {
  left: 0;

  transform: translateY(-50%) rotate(-135deg);
}

/* social */
.social {
  display: flex;
  justify-content: center;
  transition: all 0.2s linear;
}
.social__item {
  background-color: #fce38a;
  border-right: 1px solid #f38181;
  text-decoration: none;
  color: #f38181;
  font-size: 25px;
  flex-basis: 40px;
  transition: all 0.3s linear;
}

.social__item:last-child {
  border-right: none;
}

.social__item:hover {
  background-color: #f38181;
  color: #fce38a;
}

/* logos */

.logos {
  display: flex;
  justify-content: space-between;
}
