*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  line-height: 1.67;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol {
  margin: 0;
}

/* constainer */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../images/intro/intro.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.intro__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;

  line-height: 1;
  text-transform: uppercase;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 50px auto;
  background-color: #fff;
}

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  position: relative;

  transition: color 0.2s linear;
}

.nav__link.active {
  color: #fce38a;
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  left: 0;
  bottom: -5px;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link.active:after,
.nav__link:hover:after {
  opacity: 1;
}

/* btn */
.btn {
  display: inline-block;
  vertical-align: center;
  color: #fff;
  border: 3px solid #fff;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border: 3px solid #fce38a;
}

/* section */
.section {
  padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  position: relative;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto 30px;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/* about */
.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.about__item {
  width: 30%;
  background-color: #95e1d3;

  position: relative;
}

.about__item:hover .about__text {
  opacity: 1;
}

.about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: all 0.15s linear;
}

.about__img:hover {
  transform: translate3d(-10px, -10px, 0);
}

.about__pic {
  transition: all 0.15s linear;
}

.about__pic:hover {
  opacity: 0.3;
}

.about__text {
  width: 100%;

  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transform: translate3d(0, -50%, 0);

  transition: opacity 0.35s linear;
}

/* statistics */
.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 50px 0;

  border-left: 1px solid #b5eae0;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  font-size: 72px;
  font-weight: 700;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* services */

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  max-width: 33%;
  flex: 1 1 30%;
  padding-left: 70px;
  position: relative;
  margin-bottom: 35px;
}

.services__img {
  position: absolute;
  top: 3px;
  left: 18px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}

.services__title {
  font-size: 15px;
  color: #999;
}

/* devices */
.section--devices {
  background-image: url('../images/devices/devices-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

.devices {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__iphone {
  position: absolute;
  right: 0;
  bottom: -80px;
}